*{
    padding:0;
    margin:0;
    font-family:"Microsoft YaHei";
    color:#333;
}
h1,h2,h3,h4,h5,h6{
    font-weight:400;
}
a{
    text-decoration:none;
}
header,[class*="part"],footer{
    min-width:920px;
}
/******头部样式*****/
header{
    height:70px;
    font-size:15px;
    position:fixed;
    width:100%;
    top:0;
    left:0;
    overflow:hidden;
    background:#fff;
    z-index:9999;
}
.logo{
    float:left;
    margin:20px 60px;
}
.login{
    display:block;
    float:right;
    line-height:70px;
    margin:0 40px 0 30px;
}
.login img{
    vertical-align:middle;
    height: 16px;
    margin-right:4px;
    position:relative;
    top:-2px;
}
nav{
    float:right;
}
nav a{
    display:inline-block;
    line-height:70px;
    margin-left:40px;
    width:70px;
    text-align:center;
}
.select{
    color:#ec0000;
}
.select:after{
    content:"";
    display:block;
    position:relative;
    width:100%;
    height:4px;
    background:#ec0000;
    bottom:4px;
}
/*****第一部分******/
.part1{
    margin-top:70px;
    height:690px;
    background:url(image/bg01.jpg) no-repeat;
    background-size:cover;
    position:relative;
}
.time{
    width:470px;
    height:300px;
    position:absolute;
    left:120px;
    bottom:180px;
}
.time h1{
    font-size:60px;
    color:#fff;
    margin-bottom:10px;
}
.time p{
    font-size:20px;
    color:#fff;
    text-indent:10px;
}
.time button{
    display:block;
    margin:70px 0 0 10px;
    width:300px;
    height:60px;
    background:#ff4444;
    border:0;
    color:#fff;
    font-size:24px;
    letter-spacing:4px;
    line-height:60px;
}
/*********第二部分*******/
.part2{
    font-size:0;
}
.block{
    display:inline-block;
    width:25%;
    text-align:center;
    margin:40px 0 40px 0 ;
}
.block div{
    width:100%;
    box-sizing:border-box;
    border-right:2px solid #bbb;
    font-size:14px;
    margin-top:40px;
    height:50px;
}
div.last{
    border-right:0;
}
/*****第三部分********/
.part3{
    background:#eee;
    height:270px;
    padding-top:80px;
}
.part3 img{
    display:block;
    margin:0 auto 40px auto;
}
.part3 p{
    text-align:center;
    font-size:50px;
    color:#aaa;
}
/*******第四部分******/
.part4{
    height:350px;
    background:url(image/box5-bg.png) no-repeat;
    background-size:cover;
}
.corver{
    width:100%;
    height:100%;
    background:rgba(200,0,0,0.1);
}
.part4 h2 , .part4 p{
    color:#fff;
    font-size:20px;
    text-align:center;
}
.part4 h2{
    padding-top:40px;
    margin-bottom:20px;
}
.part4 h2:after{
    content:"";
    display:block;
    margin: 10px auto 0;
    width:30px;
    height:2px;
    background:#fff;
}
.part4 p{
    font-size:14px;
    margin:0 0 40px 0;
}
.query{
    width:80%;
    margin: 0 auto;
    font-size:0;
}
.query input,.query button{
    box-sizing:border-box;
    width:calc((100% - 90px)/4);
    margin-left:30px;
    height:36px;
    border:0;
}
.query input{
    text-indent:6px;
    background:url(image/dropdown.png) #fff no-repeat 95% center;
}
.query input:focus{
    outline:2px solid #dc0000;
}
input.first{
    margin-left:0;
}
.query button{
    background:#aa0000;
    color:#fff;
}
/********第五部分********/
.part5{
    height:400px;
    background:#eee;
    padding:100px 0;
}
.container{
    width:920px;
    margin:0 auto;
    font-size:0;
}
.picture{
    display:inline-block;
    width:calc((100% - 75px - 8px)/4);
    text-align:center;
    margin-left:25px;
}
div.first{
    margin-left:0;
}
.picture img{
    width:197px;
    height:308px;
}
.picture div{
    border:1px solid #ddd;
    background:#fff;
    padding:8px 0;
}
.picture h3{
    font-size:16px;
    text-align:center;
    margin:15px 0 8px 0;
}
.picture p{
    font-size:14px;
    text-align:center;
    margin:8px 0;
    color:#888;
}
.second h3{
    font-weight:600;
    letter-spacing:34px;
    font-size:18px;
}
.second p{
    font-size:12px;
}
/********第六部分********/
.part{
    overflow:hidden;
}
.part6 .left{
    width:66.666666%;
    background:url(image/box7-pic.png) no-repeat;
    background-size:cover;
    height:550px;
    float:left;
    position:relative;
}
.part6 .left:after{
    content:"";
    display:block;
    width:0;
    height:0;
    border-top:20px solid transparent;
    border-left:30px solid transparent;
    border-bottom:20px solid transparent;
    border-right:30px solid #fff;
    position:absolute;
    top:calc(50% - 15px);
    right:0;
    
}
.part6 .left h2,.part6 .left h1,.part6 .left h5,.part6 .left h6{
    color:#fff;
    font-size:45px;
    text-align:center;
}
.part6 .left h2{
    padding-top:120px;
    margin-bottom:-30px;
}
.part6 .left h1{
    font-size:150px;
}
.part6 .left h5{
    font-size:24px;
    margin-bottom:8px;
}
.part6 .left h6{
    font-size:20px;
}
.part6 .right{
    height:550px;
    float:left;
    width:33.33333%;
}
.part6 .right h3{
    padding-top:120px;
    text-align:center;
    font-size:24px;
}
.part6 .right h3 span{
    color:#dc0000;
}
.part6 .right p{
    width:70%;
    margin:25px auto;
    font-size:12px;
    color:#aaa;
    line-height:30px;
    font-family:"宋体";
}
.more{
    display:block;
    width:100px;
    border:1px solid #dc0000;
    color:#f55;
    height:35px;
    background:none;
    margin:35px auto 20px auto;
}
.dot{
    width:80px;
    margin:0 auto;
}
.dot span{
    display:inline-block;
    width:10px;
    height:10px;
    border:1px solid #aaa;
    border-radius:50%;
    margin-left:21px;
}
span.first{
    background:#aaa;
    margin-left:0;
}
/********第七部分********/
.part7{
    overflow:hidden;
}
.part7>div{
    float:left;
    width:33.33333%;
}
.part7 .left,.part7 .middle,.part7 .right{
    height:350px;
}
.part7 .left,.part7 .middle{
    padding-top:150px;
    background:#f55;
}
.part7 .left h2,.part7 .middle h2{
    text-align:center;
    color:#fff;
    font-size:18px;
    line-height:30px;
}
.part7 .middle{
    background:#fff;
}
.part7 .middle h2{
    color:#f55;
}
.part7 .more{
    width:150px;
    height:35px;
}
.part7 .left .more{
    border:1px solid #fff;
    color:#fff;
}
.newTime1:after,.newTime2:after{
    content:"";
    width:50px;
    display:block;
    height:2px;
    background:#fff;
    margin:15px auto 0 auto;
}
.newTime2:after{
    background:#f55;
}
.part7 .right{
    height:500px;
    background:url(image/box8-pic.png) no-repeat;
    background-size:cover;
}
.cover2{
    background:rgba(0,0,0,0.3);
    width:100%;
    height:100%;
    position:relative;
}
.cover2:before{
    content:"";
    width:0;
    height:0;
    display:block;
    border-top:20px solid transparent;
    border-bottom:20px solid transparent;
    border-left:30px solid #fff;
    border-right:30px solid transparent;
    position:absolute;
    top:calc(50% - 15px);
    left:0;
}
/*********第八部分********/
.part8{
    width:80%;
    margin:0 auto;
    overflow:hidden;
}
.voluteer{
    margin-top:80px;
    text-align:center;
    font-size:24px;
}
.p1{
    text-align:center;
    font-size:12px;
    color:#aaa;
}
.voluteer:after{
    content:"";
    display:block;
    width:30px;
    height:2px ;
    background:#ec0000;
    margin: 10px auto 15px auto;
}
.left2 ,.right2{
    float:left;
    margin:100px 0;

}
.left2{
    width:37%;
    box-sizing:border-box;
    padding-right:100px;
}
.left2 h4{
    font-size:16px;
    margin-bottom:20px;
}
.left2 p{
    font-size:12px;
    color:#aaa;
    text-align:justify;
}
.left2 p:after{
    content:"more";
    display:block;
    text-align:right;
    margin:10px 0 30px 0; 
    background:url(image/more.png) no-repeat 88% 60%;
}
.right2{
    width:63%;
}
.right2 div{
    font-size:12px;
    float:left;
    margin-bottom:20px;
    background:#eee;
    text-indent:15px;
}
.name,.tel{
    margin-right:20px;
}
.name,.tel,.add,.age{
    width:calc((100% - 20px)/2);
    height:40px;
}
.right2 input{
    border:0;
    background:#eee;
    height:40px;
    width:70%;
}
.right2 input:focus,.info  textarea:focus{
    outline:none;
}
.info{
    height:190px;
    width:100%;
    position:relative;
    padding-top:10px;
}
.info textarea{
    width:90%;
    height:100%;
    background:transparent;
    border:none;
    text-indent:155px;
    resize: none;
}
.info:before{
    content:"请简单描述您梦想的生活：";
    display:block;
    position:absolute;
    top:10px;
    left:0;
}
.right2 button{
    display:block;
    width:100%;
    background:#eee;
    height:40px;
    border:0;
    line-height:40px;
}
/*********脚部样式********/
footer{
    background:#33363F;
    padding-top:100px;
}
footer h1,footer p{
    font-size:22px;
    text-align:center;
    color:#fff;
    line-height:30px;
    }
footer  p{
    font-size:12px;
    line-height:20px;
}
.search{
    width:500px;
    margin: 25px auto;
}
.search input,.search button{
    height:40px;
    border:none;
}
.search input{
    width:83%;
    text-indent:10px;
    color:#888;
}
.search button{
    width:17%;
    background:#75757F;
    color:#fff;
}
.link{
    width:200px;
    margin:30px auto;
    overflow:hidden;
}
.link a{
    display:block;
    width:25%;
    float:left;
    text-align:center;
}
.foot{
    margin-top:100px;
    background:#30303A;
    overflow:hidden;
}
.foot span,.foot a{
    display:block;
    height:60px;
    line-height:60px;
    color:#fff;
    font-size:12px;
}
.newWorld{
    float:left;
    margin-left:100px;
}
.back{
    float:right;
    margin-right:100px;
}
